article {
  margin: var(--spacing-500) var(--spacing-500) 0;
}

img {
  width: 656px;
  height: 300px;
  border-radius: 12px;
}

h1 {
  font-family: "Young Serif";
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--stone-900);
}

h2 {
  font-family: "Young Serif";
  font-size: 28px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--brown-800);
}

h3 {
  font-family: "Outfit";
  font-size: 20px;
  font-weight: 600;
  color: var(--rose-800);
}

table,
ul,
ol,
p {
  font-family: "Outfit";
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--stone-600);
}

span {
  font-weight: 700;
}

article section ul {
  list-style-type: disc;
}

article section.preparation li::marker {
  color: var(--rose-800);
}

article section.ingredients li::marker {
  color: var(--brown-800);
}

article section ol {
  list-style-type: decimal;
}
