table {
  border-collapse: collapse;
  width: 100%;
  font-family: "Outfit";
  font-size: 16px;
  line-height: 150%;
  color: var(--stone-600);
}

th,
td {
  padding-left: var(--spacing-400);
  padding-bottom: 12px;
}

caption {
  padding-bottom: var(--spacing-300);
}

caption,
th {
  text-align: left;
}

th {
  font-weight: normal;
}

td {
  font-weight: bold;
  color: var(--brown-800);
}

table tr:not(:last-child) {
  border-bottom: 1px solid var(--stone-150);
  padding-bottom: 12px;
}
